In [39]:
import pandas as pd
import numpy as np
df = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6],
    'Name': ['Mandheer', 'Manish', 'Ajay', 'Vikas', 'Alok', 'Anjli'],
    'age': [23, 45, 30, np.nan, 32, 45],
    'saleary': [30000, 6000, 40000, 2300, 70000, 80000]
})
#print(df)
print(df.describe())
df['age'].fillna(df['age'].mean())

             id        age       saleary
count  6.000000   5.000000      6.000000
mean   3.500000  35.000000  38050.000000
std    1.870829   9.721111  32107.553628
min    1.000000  23.000000   2300.000000
25%    2.250000  30.000000  12000.000000
50%    3.500000  32.000000  35000.000000
75%    4.750000  45.000000  62500.000000
max    6.000000  45.000000  80000.000000

0    23.0
1    45.0
2    30.0
3    35.0
4    32.0
5    45.0
Name: age, dtype: float64

In [30]:
import pandas as pd 
import numpy as np 

data1 = {
    "product": ["banana", "charger", "pen", "mouse"],
    "sales": [40, 300, 46, 7000],
    "Discount": [30, 20, 35, 50]
}

df = pd.DataFrame(data1)


df["Discount"] = df["sales"] * 0.10


df["product"] = df["product"].replace("pen", "banana")

#df.to_csv('sales_data.csv', index=False)

#print("DataFrame saved to 'sales_data.csv'")

In [42]:
import pandas as pd
import numpy as np     
data = {'Salary':[40000,60000,70000,5400,65000,30000],
        'Age':[43,32,45,65,60,36]}
df = pd.DataFrame(data)
departments = ['IT','HR','Finance']
df['Department'] = np.random.choice(['IT','HR','Finance'],size=len(df))
#print(df)


average_salary = df.groupby('Department')['Salary'].mean()
#print(average_salary)

maximum_age = df.groupby('Department')['Age'].max()
print(maximum_age)

Department
Finance    60
HR         45
IT         65
Name: Age, dtype: int64

In [45]:
import pandas as pd   
df_emp = pd.DataFrame({'Name':['Amit','Puspa','Mandheer','Mahi','Ramesh'],
                       'Age':[24,56,32,26,62],
                       'City':['kanpur','Gujrat','Lacnow','Delhi','guna'],
                       'Salary':[60000,50000,70000,45000,90000],
                       'Department':['IT','HR','Finance','IT','HR']})
#print("Employee DataFrame:\n",df_emp)

bonus_df = pd.DataFrame({'Name':['Amit','Puspa','mandheer','Mahi','Ramesh'],
                         'Bonus':[6000,4000,3300,4500,5600]})
#print("Bonus DataFrame:\n",bonus_df)

merged_df = pd.merge(df_emp,bonus_df,on='Name')
print("\nMerged DataFrame:\n",merged_df)

Merged DataFrame:
      Name  Age    City  Salary Department  Bonus
0    Amit   24  kanpur   60000         IT   6000
1   Puspa   56  Gujrat   50000         HR   4000
2    Mahi   26   Delhi   45000         IT   4500
3  Ramesh   62    guna   90000         HR   5600